<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Para sitios alojados en subdirectorios, ajusta la ruta base
    # RewriteBase /tu_proyecto_laravel/

    # Redirigir todas las solicitudes HTTP a HTTPS
    #RewriteCond %{HTTPS} off
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirigir todas las solicitudes no relacionadas con archivos y directorios a index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
